<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .custom-padding {
      padding: 20px; /* Custom padding value */
    }
  </style>
</head>

<body>
    <title>The Yard: Auto Body</title>
    <div class="text-center">
        <h3 class="display-4">The Yard: Auto Body</h3>
        <h4 class="display-5">Schedule an Appointment With Us Today</h4>
    </div>
    <br>
    <br>
    <p>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="d-grid gap-3">
                    <a href="/register" class="btn btn-secondary">Make an Appointment</a>
                    <a href="/info" class="btn btn-secondary">Appointment Info</a>
                </div>
            </div>
        </div>
    </p>
</body>

</html>
