<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <title>Appointment Info</title>
      <style>
         .custom-table {
            background-color: #a1a1a1; /* Change the background color */
         }
         .custom-table th {
            color: #a1a1a1; /* Change the text color of table header cells */
            background-color: #1f1f1f; /* Change the background color of table header cells */
         } 
         .custom-table td {
            color: #1f1f1f; /* Change the text color of table cells */
         }
  </style>
   </head>
   <body>
      {% extends "bootstrap/base.html" %}

      {% block content %}
      <h1>Appointment Information</h1>


      <table class="custom-table">
         <thead>
            <th>License Plate</th>
            <th>Name</th>
            <th>Car Type</th>
            <th>Phone Number</th>
            <th>Appointment Date</th>
         </thead>
         
         {% for row in rows %}
            <tr class="bg-info">
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
               <td>{{row[4]}}</td>	
            </tr>
         {% endfor %}
      </table>
      <h2><a href = "\" class="btn btn-secondary">Home</a></h2>
      {% endblock %}    
      
   </body>
</html>
