<!doctype html>
<html>
   <body>
      {% extends "bootstrap/base.html" %}

      {% block content %}
      <h1>Employee Information</h1>


      <table class="table table-striped table-bordered">
         <thead class="bg-primary">
            <td>ID</td>
            <td>Name</td>
            <td>Gender</td>
            <td>Phone Number</td>
            <td>Birthdate</td>
         </thead>
         
         {% for row in rows %}
            <tr class="bg-info">
               <td>{{row["EmpID"]}}</td>
               <td>{{row["EmpName"]}}</td>
               <td>{{row["EmpGender"]}}</td>
               <td> {{row["EmpPhone"]}}</td>
               <td>{{row['EmpBdate']}}</td>	
            </tr>
         {% endfor %}
      </table>
      {% endblock %}    
      
      <a href = "/">Go back to home page</a>
   </body>
</html>
